@{
    Layout = "_AdminLayout.cshtml";
}

<section id="section1" style="display: flex;">
    @model AdminDocViewModel
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#DoctorRegistrationModal">
        @_localization.GetKey("docRegButton").Value
    </button>
    <div class="modal fade" id="DoctorRegistrationModal" tabindex="-1" role="dialog" aria-labelledby="DoctorRegistrationModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="DoctorRegistrationModalLabel">@_localization.GetKey("docRegButton").Value</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="doctorModalContent">
                    <form asp-controller="Admin" asp-action="DoctorRegister" method="post" data-val="true" id="Form">
                        <input type="hidden" asp-for="doctor.DoctorId" />
                        <div class="form-group">
                            <label asp-for="doctor.Name">@_localization.GetKey("firstName").Value</label>
                            <input asp-for="doctor.Name" name="doctor.Name"  class="form-control" />
                            <span asp-validation-for="doctor.Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="doctor.Surname">@_localization.GetKey("lastName").Value</label>
                            <input asp-for="doctor.Surname" name="doctor.Surname" class="form-control" />
                            <span asp-validation-for="doctor.Surname" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="doctor.DepartmentId">@_localization.GetKey("depId").Value</label>
                            <input asp-for="doctor.DepartmentId" name="doctor.DepartmentId" type="number" min="0" class="form-control" />
                            <span asp-validation-for="doctor.DepartmentId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="doctor.StartHour">@_localization.GetKey("startHour").Value</label>
                            <input asp-for="doctor.StartHour" name="doctor.StartHour" type="time" class="form-control" />
                            <span asp-validation-for="doctor.StartHour" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="doctor.EndHour">@_localization.GetKey("endHour").Value</label>
                            <input asp-for="doctor.EndHour" type="time" name="doctor.EndHour" class="form-control" />
                            <span asp-validation-for="doctor.EndHour" class="text-danger"></span>
                        </div>
                        <button type="submit" class="btn btn-primary">@_localization.GetKey("register").Value</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <table>
        <thead>
            <tr>
                <th>@_localization.GetKey("fullName").Value</th>
                <th>@_localization.GetKey("docId").Value</th>
                <th>@_localization.GetKey("events").Value</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Doctors != null && Model.Doctors.Count > 0)
            {
                @foreach (var doctor in Model.Doctors)
                {
                    <tr>
                        <td>@doctor.FullName</td>
                        <td>@doctor.DoctorId</td>
                        <td>
                            <button type="button" data-toggle="modal" data-target="#viewModal-@doctor.DoctorId">View</button>
                            <button type="button" data-toggle="modal" data-target="#removeModal-@doctor.DoctorId">Remove</button>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr><td colspan="4">@_localization.GetKey("noRecord").Value</td></tr>
            }
        </tbody>
    </table>
</section>