@{
    Layout = "_AdminLayout.cshtml";
}

    <section id="section4" style="display: flex;">
    @model List<Appointment>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>@_localization.GetKey("date").Value</th>
                <th>@_localization.GetKey("department").Value</th>
                <th>@_localization.GetKey("doctor").Value</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var appointment in Model)
            {
                <tr>
                    <td>@appointment.Id</td>
                    <td>@appointment.Date</td>
                    <td>@appointment.Department.DepartmentName</td>
                    <td>@appointment.Doctor.FullName</td>
                </tr>
            }
        </tbody>
    </table>
    </section>