@model HospitalProject.Models.Department

<div>
    <h4>Department Details</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">Department ID</dt>
        <dd class="col-sm-9">@Model.DepartmentId</dd>

        <dt class="col-sm-3">Department Name</dt>
        <dd class="col-sm-9">@Model.DepartmentName</dd>

        <dt class="col-sm-3">Phone Number</dt>
        <dd class="col-sm-9">@Model.PhoneNumber</dd>
    </dl>

    @if (Model.Doctors != null && Model.Doctors.Any())
    {
        <h5>Doctors in this Department</h5>
        <ul>
            @foreach (var doctor in Model.Doctors)
            {
                <li>@doctor.DoctorId</li>
                <li>@doctor.Name</li>
                <li>@doctor.Surname</li>
            }
        </ul>
    }
    else
    {
        <p>No doctors in this department.</p>
    }
</div>
