@model HospitalProject.Models.Doctor

<div>
    <h4>@_localization.GetKey("docDetails").Value</h4>
    <hr />
    <dl class="row">
        <dt class="col-md-6">@_localization.GetKey("docId").Value</dt>
        <dd class="col-md-6">@Model.DoctorId</dd>
                       
        <dt class="col-md-6">@_localization.GetKey("firstName").Value</dt>
        <dd class="col-md-6">@Model.Name</dd>
                       
        <dt class="col-md-6">@_localization.GetKey("lastName").Value</dt>
        <dd class="col-md-6">@Model.Surname</dd>
                       
        <dt class="col-md-6">@_localization.GetKey("shift").Value</dt>
        <dd class="col-md-6">@Model.Shift</dd>
    </dl>              
</div>
